.section-info{
    position: relative;
    padding-top: 70px;
    margin-bottom: 71px;
    &__background-image{
        @extend %image-absolute;
    }
    &__about{
        @extend %container;
        &-text{
            @include text($H100, 400, $white);
            margin: 0 auto;
            text-align: center;
            max-width: 770px;
            font-family: $logo-font;
            margin-bottom: 52px;
            &:before{
                content: "❛❛";
                display: block;
                margin: 0 auto;
                font-size: 100px;
            }
        }
    }
    &__title{
        @include text($H50, 700, $white);
        text-align: center;
        margin-bottom: 13px;
        text-transform: uppercase;
    }
    &__subtitle{
        @include text($H10, 300, $white);
        text-align: center;
        margin-bottom: 58px;
        text-transform: uppercase;
    }
    &__icon{
        @include svg(20px, $text);
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover{
            transform: translateX(10px);
        }&--left{
            &:hover{
                transform: translateX(-10px);
            }
        }
        &-wrapper{
            width: 20px;
        }
    }
    &__author{
        @include flex(center, center, row);
        padding-bottom: 70px;
    }
    &__list{
        list-style: none;
        margin: 30px;
        @include flex(center, stretch, row);
        flex-wrap: wrap;
        &-item{
            width: 45px;
            &:not(:last-child){
                margin-right: 15px;
            }
        }
        &-image{
            width: 45px;
            transition: all 0.5s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
            &:active{
                transform: scale(1.2);
            }
        }
    }
}