.section-story{
    position: relative;
    @extend %container;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-tablet){
        flex-direction: row;
        align-items: stretch;
    }
    &__title{
        color: $text; 
        font-family: $logo-font;
        font-size: $H200;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 28px;
        @media screen and (max-width: $screen-tablet){
            text-align: center;
        }
    }
    &__text{
        color: $text;
        padding-bottom: 22px;
        font-weight: 400;
        font-size: $H100;
        letter-spacing: 0.42px;
        font-family: $base-font;
        margin-bottom: 21px;
        line-height: 22px;
    }
    &__image{
        margin-right: 0;
        margin-bottom: 50px;
        z-index: -11;
        @media screen and (min-width: $screen-tablet){
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
    &__marg{
        padding-bottom: 70px;
    }
}
