$white: white;
$grey-light: #B9B9B9;
$grey: #9D9D9D;
$dark: #262626;

//Button color
$btn-color: #00e0d0;
$btn-bg-color: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);

//Text color
$text: rgba(#413d4b, 0.75);
$sub-title: #333;
$img-sub-text: #fafafa;

$max-width: 940px;

@function calcRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }

$logo-fs: calcRem(30px);

$H300: calcRem(32px);
$H200: calcRem(22px);
$H100: calcRem(16px);
$H50: calcRem(14px);
$H10: calcRem(13px);

$base-font: 'Roboto';
$logo-font: 'Playfair Display';

$screen-iphone: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;
