<section class="section-expertise">
    <h2>Expertise</h2>
    <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
    <ul class="list">
        <li class="list__item">
            <span>
                <svg>
                    <use xlink:href="" />
                </svg>
            </span>
            <h2 class="list__item-subtitle">web design & development</h2>
            <p class="list__item-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                aliquet Aenean.</p>
        </li>
    </ul>
</section>