<section class="section-expertise">
    <h2 class="section-expertise__title">Expertise</h2>
    <p class="section-expertise__text">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
    <ul class="section-expertise__list">
        <li class="section-expertise__list-item">
            <span class="section-expertise__link">
                <svg class="section-expertise__link-icon">
                    <use xlink:href="#desktop" />
                </svg>
            </span>
            <h2 class="section-expertise__list-subtitle">web design & development</h2>
            <p class="section-expertise__list-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit auctor
                aliquet Aenean.</p>
        </li>
        <li class="section-expertise__list-item">
            <span class="section-expertise__link">
                <svg class="section-expertise__link-icon">
                    <use xlink:href="#brush" />
                </svg>
            </span>
            <h2 class="section-expertise__list-subtitle">branding identity</h2>
            <p class="section-expertise__list-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit auctor
                aliquet Aenean.</p>
        </li>
        <li class="section-expertise__list-item">
            <span class="section-expertise__link">
                <svg class="section-expertise__link-icon">
                    <use xlink:href="#mobile" />
                </svg>
            </span>
            <h2 class="section-expertise__list-subtitle">mobile app</h2>
            <p class="section-expertise__list-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit auctor
                aliquet Aenean.</p>
        </li>
        <li class="section-expertise__list-item">
            <span class="section-expertise__link">
                <svg class="section-expertise__link-icon">
                    <use xlink:href="#disk" />
                </svg>
            </span>
            <h2 class="section-expertise__list-subtitle">search engine optimization</h2>
            <p class="section-expertise__list-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit auctor
                aliquet Aenean.</p>
        </li>
        <li class="section-expertise__list-item">
            <span class="section-expertise__link">
                <svg class="section-expertise__link-icon">
                    <use xlink:href="#game" />
                </svg>
            </span>
            <h2 class="section-expertise__list-subtitle">game development</h2>
            <p class="section-expertise__list-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit auctor
                aliquet Aenean.</p>
        </li>
        <li class="section-expertise__list-item">
            <span class="section-expertise__link">
                <svg class="section-expertise__link-icon">
                    <use xlink:href="#love" />
                </svg>
            </span>
            <h2 class="section-expertise__list-subtitle">made with love</h2>
            <p class="section-expertise__list-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit auctor
                aliquet Aenean.</p>
        </li>
    </ul>
    <svg style="display: none;">
        <symbol id="desktop" viewBox="0 0 576 512">
            <path
                d="M528 0H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h192l-16 48h-72c-13.3 0-24 10.7-24 24s10.7 24 24 24h272c13.3 0 24-10.7 24-24s-10.7-24-24-24h-72l-16-48h192c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-16 352H64V64h448v288z">
            </path>
        </symbol>
        <symbol id="brush" viewBox="0 0 512 512">
            <path
                d="M167.02 309.34c-40.12 2.58-76.53 17.86-97.19 72.3-2.35 6.21-8 9.98-14.59 9.98-11.11 0-45.46-27.67-55.25-34.35C0 439.62 37.93 512 128 512c75.86 0 128-43.77 128-120.19 0-3.11-.65-6.08-.97-9.13l-88.01-73.34zM457.89 0c-15.16 0-29.37 6.71-40.21 16.45C213.27 199.05 192 203.34 192 257.09c0 13.7 3.25 26.76 8.73 38.7l63.82 53.18c7.21 1.8 14.64 3.03 22.39 3.03 62.11 0 98.11-45.47 211.16-256.46 7.38-14.35 13.9-29.85 13.9-45.99C512 20.64 486 0 457.89 0z">
            </path>
        </symbol>
        <symbol id="mobile" viewBox="0 0 320 512">
            <path
                d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z">
            </path>
        </symbol>
        <symbol id="disk" viewBox="0 0 496 512">
            <path
                d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zM88 256H56c0-105.9 86.1-192 192-192v32c-88.2 0-160 71.8-160 160zm160 96c-53 0-96-43-96-96s43-96 96-96 96 43 96 96-43 96-96 96zm0-128c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z">
            </path>
        </symbol>
        <symbol id="game" viewBox="0 0 640 512">
            <path
                d="M480.07 96H160a160 160 0 1 0 114.24 272h91.52A160 160 0 1 0 480.07 96zM248 268a12 12 0 0 1-12 12h-52v52a12 12 0 0 1-12 12h-24a12 12 0 0 1-12-12v-52H84a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h52v-52a12 12 0 0 1 12-12h24a12 12 0 0 1 12 12v52h52a12 12 0 0 1 12 12zm216 76a40 40 0 1 1 40-40 40 40 0 0 1-40 40zm64-96a40 40 0 1 1 40-40 40 40 0 0 1-40 40z">
            </path>
        </symbol>
        <symbol id="love" viewBox="0 0 512 512">
            <path
                d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z">
            </path>
        </symbol>
    </svg>
</section>