<header id="home" class="header">
    <span class="background"><img class="header__image" src="images/header.png" alt=""></span>
    <div class="header__container">
        <div class="navigation">
            <div class="header__logo">
                <span class="header_logo-image"><img src="images/tajem.png" alt="tajem"></span>
                <h2 class="header__logo-text">tajam</h2>
            </div>
            <nav class="nav__fixed">
                <label class="burger header__burger">
                    <input class="burger__input" type="checkbox">
                    <span class="burger__box">
                        <span class="burger__item"></span>
                        <span class="burger__item"></span>
                        <span class="burger__item"></span>
                    </span>
                    <span class="nav__list burger__menu">
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#home">home</a>
                        </span>
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#expertise">expertise</a>
                        </span>
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#meet">teams</a>
                        </span>
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#works">works</a>
                        </span>
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#people-say">people say</a>
                        </span>
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#contact">Contact</a>
                        </span>
                        <span class="nav__list-item">
                            <a class="nav__list-link" href="#location">Location</a>
                        </span>
                    </span>
                </label>
            </nav>
        </div>
        <h1 class="header__title">We Are Awesome Creative Agency</h1>

        <p class="header__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            Duis
            sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
        <a class="button" href="#">Learn more</a>
    </div>
</header>