<section id="people-say" class="section-info">
    <span class="section-info__background"><img class="section-info__background-image" src="./images/forest-info.png"
            alt="forest-info"></span>
    <div class="section-info__about">
        <p class="section-info__about-text">
            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed
            odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio
            tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
        </p>
        <h2 class="section-info__title">jane galadriel</h2>
        <p class="section-info__subtitle">ceo tengkurep</p>
        <div class="section-info__author">
            <span class="section-info__icon-wrapper">
                <svg class="section-info__icon section-info__icon--left">
                    <use xlink:href="#arrow-left" />
                </svg>
            </span>
            <ul class="section-info__list">
                <li class="section-info__list-item"><img class="section-info__list-image" src="./images/author1.png"
                        alt="Jane galadriel"></li>
                <li class="section-info__list-item"><img class="section-info__list-image" src="./images/author2.png"
                        alt="Jane galadriel"></li>
                <li class="section-info__list-item"><img class="section-info__list-image"
                        src="./images/jane-galadriel.png" alt="Jane galadriel"></li>
                <li class="section-info__list-item"><img class="section-info__list-image" src="./images/author4.png"
                        alt="Jane galadriel"></li>
                <li class="section-info__list-item"><img class="section-info__list-image" src="./images/author5.png"
                        alt="Jane galadriel"></li>
            </ul>
            <span class="section-info__icon-wrapper">
                <svg class="section-info__icon">
                    <use xlink:href="#arrow-right" />
                </svg>
            </span>
        </div>
    </div>
</section>