<section id="meet" class="section-meet">
    <span><img class="section-meet__background" src="./images/meet.png" alt="forest"></span>
    <div class="section-meet__container">
        <h2 class="section-meet__title">meet our amazing team</h2>
        <p class="section-meet__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
            atque.</p>
        <ul class="section-meet__list">
            <li class="section-meet__list-item">
                <span class="section-meet__list-wrapper">
                    <img class="section-meet__list-image" src="./images/semf-ucuk.jpg" alt="semf ucuk">
                </span>
                <h3 class="section-meet__list-subtitle">semf ucuk</h3>
                <p class="section-meet__list-text">ceo & founder</p>
            </li>
            <li class="section-meet__list-item">
                <span class="section-meet__list-wrapper">
                    <img class="section-meet__list-image section-meet__list-image--position"
                        src="./images/dik-adalin.jpg" alt="semf ucuk">
                </span>
                <h3 class="section-meet__list-subtitle">dik adalin</h3>
                <p class="section-meet__list-text">engineering</p>
            </li>
            <li class="section-meet__list-item">
                <span class="section-meet__list-wrapper">
                    <img class="section-meet__list-image" src="./images/jenk-kol.jpg" alt="semf ucuk">
                </span>
                <h3 class="section-meet__list-subtitle">jenk kol</h3>
                <p class="section-meet__list-text">designer</p>
            </li>
            <li class="section-meet__list-item">
                <span class="section-meet__list-wrapper">
                    <img class="section-meet__list-image" src="./images/pet-romak.jpg" alt="semf ucuk">
                </span>
                <h3 class="section-meet__list-subtitle">pet romak</h3>
                <p class="section-meet__list-text">marketing</p>
            </li>
        </ul>
        <p class="section-meet__subtext">Become part of our dream team, let's join us!</p>
        <a class="button button--meet" href="#">we are hiring</a>
    </div>
</section>